.Geral {
  width: 100%;
  background-color: rgb(32, 35, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.pDA{
  color: white;
  margin-top: 80px;
  margin-bottom: 120px;
  text-align: center;
}